@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* biome-ignore lint/correctness/noUnknownFunction: theme is a Tailwind function */
  color: theme("colors.base-content");
  /* biome-ignore lint/correctness/noUnknownFunction: theme is a Tailwind function */
  background: theme("colors.base-100");
}

@layer components {
  .material-pattern {
    background-image: url(/material-pattern.svg);
  }

  .kite-pattern {
    background-image: url(/kite-pattern.svg);
  }

  .home-pattern {
    background-image: url(/home-pattern.svg);
    background-size: contain;
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 33%);
  }
}

/* TODO migrate this into tailwind config as plugin using addBase()) */
@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-base md:text-xl lg:text-2xl;
  }

  h5 {
    @apply text-base md:text-lg lg:text-xl;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply my-4;
  }
}

@layer utilities {
  .text-wrap-balance {
    text-wrap: balance;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none; /* Safari */
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield; /* Firefox */
}

/* remove autofill bg color in chromium */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* biome-ignore lint/correctness/noUnknownFunction: theme is a Tailwind function */
  -webkit-box-shadow: 0 0 0 30px theme("colors.base-100") inset !important;
}
