@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  prefix: "d-";
  /* biome-ignore lint/correctness/noUnknownProperty: daisyui config option */
  themes: light --default;
}
@plugin "daisyui/theme" {
  /* biome-ignore lint/correctness/noUnknownProperty: daisyui/theme config option */
  name: "light";
  /* biome-ignore lint/correctness/noUnknownProperty: daisyui/theme config option*/
  default: true;

  --color-primary: #0e7daf;
  --color-primary-content: #ffffff;

  --color-error: #ef5258;
}

@theme {
  --color-foxpost-red: #a82220;
}

@utility container {
  margin: auto;
  padding: 1rem;
}

@utility material-pattern {
  background-image: url(/material-pattern.svg);
}

@utility kite-pattern {
  background-image: url(/kite-pattern.svg);
}

@utility home-pattern {
  background-image: url(/home-pattern.svg);
}

/* mask-b-from-66% is impacting performance in firefox (screen resize) */
@utility fast-mask-33 {
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 33%);
}

@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-base md:text-xl lg:text-2xl;
  }

  h5 {
    @apply text-base md:text-lg lg:text-xl;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply my-4;
  }
}

@utility d-label {
  @apply text-base-content;
}

/* remove default controls on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none; /* Safari */
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield; /* Firefox */
}

/* remove autofill bg color in chromium */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* biome-ignore lint/correctness/noUnknownFunction: theme is a Tailwind function */
  -webkit-box-shadow: 0 0 0 30px theme("colors.base-100") inset !important;
}
